<ng-content></ng-content>

<div class="main_component div-flex">
    <mat-card class="div-flex">
        <img class="profile" src="../../../assets/random_profile.jpg">
        <mat-card-header>
            <mat-card-title>favoritsnowflake</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <p>duck</p>
            <p>now it feels like beautiful madness</p>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
        <img class="pics" src="../../../assets/egg.jpg">
        <img class="pics" src="../../../assets/random_duck.jpg">
        <img class="pics" src="../../../assets/random_cat.jpg">
    </mat-card>
</div>
