<ng-content></ng-content>

<div class="main_component div-flex">
    <mat-card class="div-flex">
        <mat-card-header>
            <img class="profile" src="../../../assets/1.jpg">
            <mat-card-content class="username">kokosultan</mat-card-content>
        </mat-card-header>
        <br>
        <mat-card-content class="post">
            <img class="pics" src="../../../assets/2.jpg">
        </mat-card-content>
        <br>
        <mat-card-content class="icons">
        <mat-icon>insert_emoticon</mat-icon>
        <mat-icon>chat_bubble_outline</mat-icon>
        <mat-icon>send</mat-icon>
        <br>
        <a>211 likes</a>
    </mat-card-content>
    </mat-card>
    <mat-card class="div-flex">
        <mat-card-header>
            <img class="profile" src="../../../assets/3.jpg">
            <mat-card-content class="username">galliumgoliat</mat-card-content>
        </mat-card-header>
        <br>
        <mat-card-content class="post">
            <a>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</a>
        </mat-card-content>
        <br>
        <mat-card-content class="icons">
        <mat-icon>insert_emoticon</mat-icon>
        <mat-icon>chat_bubble_outline</mat-icon>
        <mat-icon>send</mat-icon>
        <br>
        <a>6431 likes</a>
    </mat-card-content>
    </mat-card>
    <mat-card class="div-flex">
        <mat-card-header>
            <img class="profile" src="../../../assets/4.jpg">
            <mat-card-content class="username">surferguy</mat-card-content>
        </mat-card-header>
        <br>
        <mat-card-content class="post">
            <img class="pics" src="../../../assets/5.jpg">
        </mat-card-content>
        <br>
        <mat-card-content class="icons">
        <mat-icon>insert_emoticon</mat-icon>
        <mat-icon>chat_bubble_outline</mat-icon>
        <mat-icon>send</mat-icon>
        <br>
        <a>5841 likes</a>
    </mat-card-content>
    </mat-card>
</div>
